{% extends 'base.html' %}

{% block title %}Справочник типов использования{% endblock %}

{% block content %}

    <p><a href="{{ url_for('new_usetype') }}">Добавить новый тип использования</a></p>
    <p>Типы использования:</p>
    {% for el in usetypes_list %}
    <div class="item">
        {{el.name}}
        <form action="{{ url_for('edit_usetype', id=el.id) }}">
            <button role="button" class="btn btn-outline-primary btn-sm">Редактировать</button>
        </form>
        <form action="{{ url_for('delete_usetype', id=el.id) }}" method="post">
            <input class="btn btn-outline-danger btn-sm" type="submit" value="Удалить" onclick="return confirm('Вы уверены, что хотите удалить {{el.name}}?');">
        </form>
    </div>
    {% endfor %}

{% endblock %}